extends _inc

block article
  section.slider
    .owl-carousel.slider-carousel.owl-theme
      .item
        a(href='chi-tiet-san-pham.html')
          img(src='../img/slider-1.png')
      
      .item
        a(href='chi-tiet-san-pham.html')
          img(src='../img/slider-1.png')

  section.category-home
    .container
      .box-category
        h1 THỜI GIAN MỞ CỬA
        h5 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe incidunt commodi quia aspernatur sit modi perspiciatis nisi explicabo voluptatum odio?

      .box-category
        h1 DỊCH vụ vệ sinh công nghiệp
        h5 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe incidunt commodi quia aspernatur sit modi perspiciatis nisi explicabo voluptatum odio?
        .box-category-btn
          a(href='dich-vu-ve-sinh-cong-nghiep.html') Xem thêm
            i.mdi.mdi-arrow-right

      .box-category
        h1 máy móc thiết bị
        h5 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe incidunt commodi quia aspernatur sit modi perspiciatis nisi explicabo voluptatum odio?
        .box-category-btn
          a(href='san-pham.html') Xem thêm
            i.mdi.mdi-arrow-right

      .box-category
        h1 HÓA CHẤT CÔNG NGHIỆP
        h5 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe incidunt commodi quia aspernatur sit modi perspiciatis nisi explicabo voluptatum odio?
        .box-category-btn
          a(href='hoa-cha-cha-san.html') Xem thêm
            i.mdi.mdi-arrow-right   

  section.aboutus
    .container
      .row
        .col-md-6
          .aboutus-img
            img.aboutus-img-large.rounded-circle(src='../img/about-img-1.png')
            .aboutus-img-small 
              img(src='../img/logo.png')
        .col-md-6
          .aboutus-detail
            h5 Chào mừng bạn đến với
            .title-page
              h1 Công ty TNHH ĐT TM DV Hoàng Gia
            p Chúng tôi luôn sẵn sàng đáp ứng các nhu cầu cung cấp dịch vụ vệ sinh cho các tòa nhà cao tầng, các cao ốc, văn phòng công ty, Vệ sinh trường học, vệ sinh bệnh viện, nhà máy, xí nghiệp các khu công nghiệp, khu chế xuất, công trình sau xây dựng, nhà ở v.v. 
            p Nhân viên Hoàng Gia sẽ xử lý hệ thống làm sạch với các vết dơ trên sàn được tẩy rửa sạch sẽ, đặc biệt các vế dơ bám trên các sàn gỗ, thảm, ghế, kiếng ...cùng với dụng cụ, trang thiết bị thích hợp với công việc, chúng tôi còn cung cấp hóa chất công nghiệp chuyên dùng và cả hóa chất dân gian, tất cả các vết dơ sẽ được xử lý và để lại bề mặt hoàn toàn sạch sẽ thoáng mát, quý khách có thể tận hưởng một ngôi nhà lộng lẫy khang trang không dấu vết của bụi bầm.
            .aboutus-detail-btn
              a(href='gioi-thieu.html')
                | TÌm hiểu thêm chúng tôi
                
  section.service
    .container
      .title-page
        h1 DỊCH VỤ VỆ SINH CÔNG NGHIỆP
      .owl-carousel.service-carousel.owl-theme
        .item
          .box-service
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
              h4 Báo giá đánh bóng sàn bê tông
        .item
          .box-service
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
              h4 Báo giá đánh bóng sàn bê tông
        .item
          .box-service
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
              h4 Báo giá đánh bóng sàn bê tông
        .item
          .box-service
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
              h4 Báo giá đánh bóng sàn bê tông
        .item
          .box-service
            a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
              img(src='../img/service-1.png')
              h4 Báo giá đánh bóng sàn bê tông
        

  section.product
    .container
      .title-page
        h1 máy móc thiết bị

      .product-zone
        .box-product
          .box-product-img
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy mài bê tông đánh bóng bê tông Cleantech')
                | Máy mài bê tông đánh bóng bê tông Cleantech
          .box-product-custom
            a(href='lien-he.html')
              i.mdi.mdi-send
              | Liên hệ đặt hàng
            a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
              i.mdi.mdi-eye-outline
              | Xem nhanh
        
        .box-product
          .box-product-img
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy mài bê tông đánh bóng bê tông Cleantech')
                | Máy mài bê tông đánh bóng bê tông Cleantech
          .box-product-custom
            a(href='lien-he.html')
              i.mdi.mdi-send
              | Liên hệ đặt hàng
            a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
              i.mdi.mdi-eye-outline
              | Xem nhanh
        
        .box-product
          .box-product-img
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-3.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy mài bê tông đánh bóng bê tông Cleantech')
                | Máy mài bê tông đánh bóng bê tông Cleantech
          .box-product-custom
            a(href='lien-he.html')
              i.mdi.mdi-send
              | Liên hệ đặt hàng
            a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
              i.mdi.mdi-eye-outline
              | Xem nhanh
        
        .box-product
          .box-product-img
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy mài bê tông đánh bóng bê tông Cleantech')
                | Máy mài bê tông đánh bóng bê tông Cleantech
          .box-product-custom
            a(href='lien-he.html')
              i.mdi.mdi-send
              | Liên hệ đặt hàng
            a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
              i.mdi.mdi-eye-outline
              | Xem nhanh
        
        .box-product
          .box-product-img
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy mài bê tông đánh bóng bê tông Cleantech')
                | Máy mài bê tông đánh bóng bê tông Cleantech
          .box-product-custom
            a(href='lien-he.html')
              i.mdi.mdi-send
              | Liên hệ đặt hàng
            a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
              i.mdi.mdi-eye-outline
              | Xem nhanh
        
        .box-product
          .box-product-img
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-3.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy mài bê tông đánh bóng bê tông Cleantech')
                | Máy mài bê tông đánh bóng bê tông Cleantech
          .box-product-custom
            a(href='lien-he.html')
              i.mdi.mdi-send
              | Liên hệ đặt hàng
            a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
              i.mdi.mdi-eye-outline
              | Xem nhanh
        
        .box-product
          .box-product-img
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy mài bê tông đánh bóng bê tông Cleantech')
                | Máy mài bê tông đánh bóng bê tông Cleantech
          .box-product-custom
            a(href='lien-he.html')
              i.mdi.mdi-send
              | Liên hệ đặt hàng
            a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
              i.mdi.mdi-eye-outline
              | Xem nhanh
        
        .box-product
          .box-product-img
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy mài bê tông đánh bóng bê tông Cleantech')
                | Máy mài bê tông đánh bóng bê tông Cleantech
          .box-product-custom
            a(href='lien-he.html')
              i.mdi.mdi-send
              | Liên hệ đặt hàng
            a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
              i.mdi.mdi-eye-outline
              | Xem nhanh
      
      .product-all
        a(href='san-pham.html') Xem tất cả sản phẩm

  section.home-bottom
    .container
      .row
        .col-xl-7.col-lg-8
          .product-bottom
            .title-page
              h1 hóa chất
            .row
              .col-sm-6
                .box-product-bottom
                  .box-product-bottom-img
                    a(href='chi-tiet-san-pham.html')
                      img(src='../img/product-3.png')
                  .box-product-bottom-detail
                    h4 
                      a(href='chi-tiet-san-pham.html') BETON HARDENER K35
                    .box-product-bottom-btn
                      a(href='lien-he.html') liên hệ đặt hàng
              
              .col-sm-6
                .box-product-bottom
                  .box-product-bottom-img
                    a(href='chi-tiet-san-pham.html')
                      img(src='../img/product-3.png')
                  .box-product-bottom-detail
                    h4 
                      a(href='chi-tiet-san-pham.html') BETON HARDENER K35
                    .box-product-bottom-btn
                      a(href='lien-he.html') liên hệ đặt hàng
              
              .col-sm-6
                .box-product-bottom
                  .box-product-bottom-img
                    a(href='chi-tiet-san-pham.html')
                      img(src='../img/product-3.png')
                  .box-product-bottom-detail
                    h4 
                      a(href='chi-tiet-san-pham.html') BETON HARDENER K35
                    .box-product-bottom-btn
                      a(href='lien-he.html') liên hệ đặt hàng
              
              .col-sm-6
                .box-product-bottom
                  .box-product-bottom-img
                    a(href='chi-tiet-san-pham.html')
                      img(src='../img/product-3.png')
                  .box-product-bottom-detail
                    h4 
                      a(href='chi-tiet-san-pham.html') BETON HARDENER K35
                    .box-product-bottom-btn
                      a(href='lien-he.html') liên hệ đặt hàng
              
              .col-sm-6
                .box-product-bottom
                  .box-product-bottom-img
                    a(href='chi-tiet-san-pham.html')
                      img(src='../img/product-3.png')
                  .box-product-bottom-detail
                    h4 
                      a(href='chi-tiet-san-pham.html') BETON HARDENER K35
                    .box-product-bottom-btn
                      a(href='lien-he.html') liên hệ đặt hàng
              
              .col-sm-6
                .box-product-bottom
                  .box-product-bottom-img
                    a(href='chi-tiet-san-pham.html')
                      img(src='../img/product-3.png')
                  .box-product-bottom-detail
                    h4 
                      a(href='chi-tiet-san-pham.html') BETON HARDENER K35
                    .box-product-bottom-btn
                      a(href='lien-he.html') liên hệ đặt hàng
              
              .col-sm-6
                .box-product-bottom
                  .box-product-bottom-img
                    a(href='chi-tiet-san-pham.html')
                      img(src='../img/product-2.png')
                  .box-product-bottom-detail
                    h4 
                      a(href='chi-tiet-san-pham.html') BETON HARDENER K35
                    .box-product-bottom-btn
                      a(href='lien-he.html') liên hệ đặt hàng
              
              .col-sm-6
                .box-product-bottom
                  .box-product-bottom-img
                    a(href='chi-tiet-san-pham.html')
                      img(src='../img/product-3.png')
                  .box-product-bottom-detail
                    h4 
                      a(href='chi-tiet-san-pham.html') BETON HARDENER K35
                    .box-product-bottom-btn
                      a(href='lien-he.html') liên hệ đặt hàng
              
        .col-xl-5.col-lg-4.d-none.d-lg-block
          .contact
            h5 Bạn muốn đặt hàng hay có thắc mắc gì về chúng tôi ?
            form
              input(type="text", placeholder="Họ tên:")
              input(type="text", placeholder="Email:") 
              input(type="text", placeholder="Tiêu đề:")
              textarea(placeholder="Lời nhắn")
              button(type="submit") liên hệ ngay
            
            h4 Hoặc liên hệ Hotline 
              span 0909 38 39 39
              
  section.partner
    .container
      .owl-carousel.partner-carousel.owl-theme
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        